<nav class="navbar">
  <div class="navbar-menu">
    <%= link_to 'back', customers_path, class: "navbar-item"%>
    <%= link_to 'alphabetized', alphabetized_customers_path, class: "navbar-item"%>
  </div>
</nav>
<div>
  <% @customers.each do |customer| %>
    <%= render customer %>
  <% end %>
</div>